<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>品牌管理</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/index.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<nav th:replace="common/top::top"></nav>
<div class="container-fluid">
    <div class="row">
        <nav th:replace="common/left::left(1)"></nav>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">品牌管理</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>品牌名称</th>
                        <th class="col-sm-8 col-md-8">备注</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${brands}">
                        <td th:text="${data.id}"></td>
                        <td th:text="${data.name}"></td>
                        <td th:text="${data.note}"></td>
                        <td th:text="${#dates.format(data.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <a class="del-btn" href="javascript:void(0);" th:attrappend="objId=${data.id}" style="margin-right: 5px">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#saveModal">新增
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">新增品牌</h4>
            </div>
            <div class="modal-body">
                <form id="dataForm">
                    <div class="form-group">
                        <label for="name">名称</label>
                        <input class="form-control" type="text" size="20" name="name" id="name"/>
                    </div>
                    <div class="form-group">
                        <label for="note">备注</label>
                        <textarea class="form-control" name="note" id="note" placeholder="可以写点啥,说明下你的原因"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        // 新增
        $('#saveModal .btn-primary').on('click', function () {

            $.ajax({
                url: '/brand/add',
                type: 'POST',
                data: $('#dataForm').serialize(),
                beforeSend: function () {
                    console.log("正在进行，请稍候");
                },
                success: function (data) {
                    if (data.success) {
                        $('#saveModal').modal('hide');
                        window.location.reload();
                    } else {
                        alert(data.errorMsg);
                    }
                },
                error: function () {
                    console.log("error");
                }
            });
        });

        // 删除
        $('.del-btn').on('click',function () {
            let objId = $(this).attr('objId');
            $.ajax({
                url: '/brand/del',
                type: 'POST',
                data: {"id": objId},
                beforeSend: function () {
                    console.log("正在进行，请稍候");
                },
                success: function (data) {
                    if (data.success) {
                        console.log('success');
                        window.location.reload();
                    } else {
                        alert(data);
                    }
                },
                error: function () {
                    console.log("error");
                }
            });
        })
    });
</script>
</body>
</html>